* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}
.flex-row {
    display: flex;
}
.about {
    width: 40%;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    font-weight: 500, 600, 700; 
    text-align: left;
}
.about-me {
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-me p {
    color: gray;
}